<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-inbeacon"
        version="1.1.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>inBeacon Plugin</name>
    <description>inBeacon cordova plugin supporting inBeacon SDK</description>
    <license>Apache 2.0</license>
    <keywords>cordova,inbeacon,ibeacon,beacon,bluetooth,le</keywords>
    <repo>https://github.com/inbeacon/cordova-plugin-inbeacon.git</repo>

    <engines>
        <engine name="cordova-android" version=">=3.6.4"/>
        <engine name="cordova-plugman" version=">=4.2.0"/><!-- needed for gradleReference support -->
        <engine name="cordova-ios" version=">=3.6.3"/>
    </engines>

    <!-- Plugin source code: Core -->
    <js-module name="inBeacon" src="www/inbeacon.js">
        <clobbers target="cordova.plugins"/>
    </js-module>

    <platform name="ios">
        <preference name="INBEACON_CLIENTID" default="your-clientid"/>
        <preference name="INBEACON_SECRET" default="your-secret"/>

        <info>
            In order to run this plugin, you need to obtain your clientId and secret from InBeacon.
            Visit to https://console.inbeacon.nl
        </info>

        <config-file parent="/*" target="config.xml">
            <feature name="InBeacon">
                <param name="ios-package" value="CDVInBeacon"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="inBeacon API clientId">
            <string>$INBEACON_CLIENTID</string>
        </config-file>

        <config-file target="*-Info.plist" parent="inBeacon API secret">
            <string>$INBEACON_SECRET</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>This app would like to scan for iBeacons even when in the background.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>This app would like to scan for iBeacons while it is in use.</string>
        </config-file>


        <header-file src="src/ios/CDVInBeacon.h"/>
        <source-file src="src/ios/CDVInBeacon.m"/>

        <header-file src="src/ios/AppDelegate+CDVInBeacon.h"/>
        <source-file src="src/ios/AppDelegate+CDVInBeacon.m"/>

        <framework src="CoreBluetooth.framework"/>
        <framework src="CoreLocation.framework"/>
        <framework src="libs/ios/inBeaconSdk.framework" custom="true"/>

    </platform>

    <platform name="android">

        <preference name="INBEACON_CLIENTID" default="your-clientid"/>
        <preference name="INBEACON_SECRET" default="your-secret"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="InBeacon">
                <param name="android-package" value="com.inbeacon.cordova.CordovaInbeaconManager"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
        </config-file>

        <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
            <application android:name="com.inbeacon.cordova.CordovaInbeaconApplication"/>
        </edit-config>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data
                    android:name="com.inbeacon.android.CLIENTID"
                    android:value="$INBEACON_CLIENTID"/>
            <meta-data
                    android:name="com.inbeacon.android.SECRET"
                    android:value="$INBEACON_SECRET"/>
        </config-file>

        <source-file src="src/android/CordovaInbeaconManager.java" target-dir="src/com/inbeacon/cordova"/>
        <source-file src="src/android/CordovaInbeaconApplication.java" target-dir="src/com/inbeacon/cordova"/>
        <framework src="src/android/inbeacon.gradle" custom="true" type="gradleReference"/>
    </platform>

</plugin>

